@{
    ViewData["Title"] = "Home Page";
}

@model Portfolio

<script>
    function onSubmit(s, e) {
        FileNames.SetVisible(true);
    }
    function onTagsChanged(s, e) {
        s.SetVisible(s.GetTagCollection().length != 0);
    }
    function onFileUploadComplete(s, e) {
        FileNames.SetVisible(true);
        FileNames.AddTag(e.customData["name"]);
    }
</script>

@using (Html.BeginForm("CreatePortfolio", "Home", method: FormMethod.Post)) {
    @(Html.HiddenFor(m => m.Id))
    <div class="row">
        <div class="col-12">
            @(Html.DevExpress().BootstrapTextBoxFor(m => m.Name))
        </div>
    </div>
    <div class="row my-2">
        
        <div class="col-12">
            @(Html.DevExpress().BootstrapTagBoxFor(m => m.FileNames)
                .ClientSideEvents(events=>events.TagsChanged("onTagsChanged"))
                .ClientVisible(false)
                .CaptionSettings(caption => caption.Hidden(true)))
        </div>
        <div class="col-12 my-1">
            @(Html.DevExpress().BootstrapUploadControl("UploadControl")
                    .Settings(settings => settings.EnableMultiSelect(true))
                    .AutoStartUpload(true)
                    .ShowTextBox(false)
                    .BrowseButton(button => button.Text("Add Files"))
                    .ClientSideEvents(events => events.FileUploadComplete("onFileUploadComplete"))
                    .ValidationSettings(validation => validation
                        .AllowedFileExtensions(".jpg", ".jpeg", ".gif", ".png")
                        .MaxFileSize(4194304))
                    .Routes(routes => routes.MapRoute(r => r
                        .RouteValues(new {
                            Controller = "Home",
                            Action = "UploadFile",
                            Id = Model.Id
                        })
                )))
        </div>
    </div>
        <hr>
        <div class="row">
            <div class="col-12">
                @(Html.DevExpress().BootstrapButton("Submit").Text("Submit").ClientSideEvents(events=>events.Click("onSubmit")).UseSubmitBehavior(true))
            </div>
        </div>
}


