@model Portfolio

<div class="row">
    <div class="col-12 font-weight-bold">
        @(Html.LabelFor(m => m.Name))
    </div>
    <div class="col-12">
        @Model.Name
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12 font-weight-bold">
        @(Html.LabelFor(m => m.FileNames))
    </div>
    <div class="col-12">
        @(Html.DevExpress().BootstrapListBoxFor(m => m.FileNames)
            .CaptionSettings(captionSettings => captionSettings.Hidden(true))
            .Bind(Model.FileNames)
            .ItemTemplate(t => @<text>
            <div class="row">
                <a class="col-12" href="@Url.Action("ViewImage", "Home", new { PortfolioId = Model.Id, Name = t.Item.Text })">@t.Item.Text</a>
            </div>
            </text>)
        )
    </div>
</div>